{% extends "template.html" %}

{% block titulo %}Inicio{% endblock %}

{%block contenido%}
            <!-- Imagen principal -->
            <div class="container-2">
                <img src="../static/imgs/principal3.jpg" alt="Vista información general y películas" class="main-image">
            </div>
    
            <!-- Películas -->
            <h2 id="cartelera">Cartelera</h2>
            <div class="in-movie">        
                <div class="movies">
                    <img src="../static/imgs/la_ultima_estafa.jpg" alt="La última estafa">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/la_casa_oscura.jpg" alt="La casa oscura">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/rock_dmg.jpg" alt="Rock DMG">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/shang_chi.jpg" alt="Shang-Chi">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
            </div>
    
            
            <h2 id="proximos-estrenos">Próximos estrenos</h2>
            <div class="in-movie">
                
                <div class="movies">
                    <img src="../static/imgs/terapia_a_la_francesa.jpg" alt="Terapia a la Francesa">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/eternos_compañeros.jpg" alt="Eternos compañeros">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/la-mano-del-demonio.jpg" alt="La mano del demonio">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
    
                <div class="movies">
                    <img src="../static/imgs/escape_room_2.jpg" alt="Escape room 2">
                    <h3>Titulo de la película</h3>
                    <p>
                        Titulo en inglés: Poner el titulo <br>
                        Estreno: 07-Oct-2021 <br>
                        Género: Acción <br>
                        Recomendada para matores de 12 años <br>
                        90 min
                    </p>
                </div>
            </div>
{% endblock %}

{% block link_css %} <link rel="stylesheet" href="../static/css/styles.css"> {% endblock %}

